<div class="container-fluid">
  <h1 class="co-white">Post a new job</h1>
  <hr>
</div>
<div class="container">
  <div class="form-group">
    <%= render "form", locals: { job: @job } %>
  </div>
</div>
