

 <div class="job">
    <p>Location: <%= job.location %></p>
    <p>Description: <%= job.description %></p>
    <p>Salary: <%= job.salaryrate %></p>
</div>


 	<p><button type="button" class="btn">Apply: <%= job.applyurl %></button></p>
