<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="/"> <img border="0" alt="Generalists" src="/assets/zorro_logo_wide.png" width="275"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to "Post a job", new_job_path, class: 'nav-link bg-orange co-white ma-ver-15 bo-radious-5 width-100 t-center bold' %>
      </li>
      <li class="nav-item">
        <%= link_to "About", new_job_path, class: 'nav-link bg-orange co-white ma-ver-15 bo-radious-5 width-100 t-center bold' %>
      </li>
    </ul>
  </div>
</nav>