<div class="container-fluid">
  <h1 class="co-white">About Zorro</h1>
  <hr>
</div>
<div class="container">
  <div class="bg-color-white pa-30 co-dark-grey">
    <p>Zorro is a job board for multi-skilled talent.<br><br>
We connect companies with skilled generalists and hybrids who possess diverse experience and expertise.<br>
</p>
    <p>

<h4>What is Zorro?</h4>

    <p>
    	We noticed existing online hiring solutions didn't accommodate companies or talent who wanted to look outside the box of tightly constrained job titles and role specs.<br><br>
We could see that smart businesses needed savvy, hands-on generalists just as much as they needed specialists but getting hold of them was tough.<br><br>
Zorro is here to help companies hire talent with a broad range of skills across a multitude of disciplines, and to help those talented operators, producers, builders and can-doers access exciting new projects.<br><br>
</p>

    <p>
<h4>Who's on Zorro?</h4>
Companies using Zorro include early stage tech startups looking for core team members to supercharge their growth, media and entertainment businesses building new ventures, and corporate education providers searching for talented teachers and facilitators.<br><br>
The Zorro talent pool features exited entrepreneurs, strategy consultants with side hustle, plug-in COOs and sales professionals with operational chops to boot.
    </p>

    <p>
<h4>How do I get started?</h4>
Hiring? Let us know your requirements and we can get you set up on the Zorro platform so you can start posting opportunities and connecting with talent. You can get in touch with us right here.<br><br>
Job Hunting? Add your email address above and we'll notify you as soon as new opportunities go live!
</p>


    <p>
<h4>How much does Zorro cost?</h4>
Zorro is completely free for talent. For companies Zorro starts at just $95 to post an opportunity across our network. We have a small number of free slots available - contact us for more information.
  </p>

    <p>
<h4>How can I contact you?</h4>
You can get in touch with any other enquiries here.
    </p>
    
    <p>
<h4>Why 'Zorro'?</h4>
Professor Phillip Tetlock conducted a 20+ year study of 284 professional forecasters. <br><br>
He asked them to predict the probability of various occurrences both within and outside of their areas of expertise. <br><br>
Analysis of the 80,000+ forecasts found that experts are less accurate predictors than non-experts in their area of expertise.<br><br>
Tetlock’s conclusion: when seeking accuracy of predictions, it is better to turn to those like “(Isaiah) Berlin’s prototypical fox, those who know many little things, draw from an eclectic array of traditions, and accept ambiguity and contradictions.”
We believe the Fox, or Zorro, will continue to be of growing value and importance to companies across the globe.</p>

  </div>
 
</div>
