body {
  background-image: linear-gradient(199deg, #B4D6C6, #576A9C);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  color: white;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: 20px auto;
  width: 500px;
}
a {
  color: #efaaca;
  text-decoration: none;

}

a:hover
{
color: #ffffff;
}

.jobsummary
{
  background-color: #000;
  color: white;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: 20px auto;
  width: 800px;
}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 20px 0;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    color: #E7812E;
}
 
.btn-info {
  color: #E7812E;
}


.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 

.btn-lg.round {
  border-radius: 24px;
} 


.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}


@import "bootstrap";



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
